<table class="ui table">
  <thead>
    <tr>
      <th>{{nameColumnCaption}}</th>
      <th>{{oldValueColumnCaption}}</th>
      <th>{{newValueColumnCaption}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each auditFields as |auditField|}}
      <tr>
        <td>
        {{auditField.Field}}
        </td>
        <td>
        {{auditField.OldValue}}
        </td>
        <td>
        {{auditField.NewValue}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
