<table class="ui table">
  <thead>
    <tr>
      <th>{{nameColumnCaption}}</th>
      <th>{{oldValueColumnCaption}}</th>
      <th>{{newValueColumnCaption}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each auditFields as |auditField|}}
      <tr>
        <td>
          {{#if auditField.Field}}
            {{auditField.Field}}
          {{else if auditField.field}}
            {{auditField.field}}
          {{/if}}        
        </td>
        <td>
          {{#if auditField.OldValue}}
            {{auditField.OldValue}}
          {{else if auditField.oldValue}}
            {{auditField.oldValue}}
          {{/if}}
        </td>
        <td>
          {{#if auditField.NewValue}}
            {{auditField.NewValue}}
          {{else if auditField.newValue}}
            {{auditField.newValue}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
