<br/>
<br/>
<br/>

<h3>{{t 'forms.ember-flexberry-dummy-application-user-list.caption'}}</h3>
  init time: {{initTime}}<br/>
  beforeModel time: {{beforeModelTime}}<br/>
  model time: {{modelTime}}<br/>
  afterModel time: {{afterModelTime}}<br/>
  activate time: {{activateTime}}<br/>
  setupController time: {{setupControllerTime}}<br/>
  renderTemplate time: {{renderTemplateTime}}<br/>

<div class="row">
  {{flexberry-simple-olv
    modelName="ember-flexberry-dummy-application-user"
    modelProjection=modelProjection
    editFormRoute=editFormRoute
    content=model
    createNewButton=true
    refreshButton=true
    sorting=computedSorting
    orderable=true
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")
    componentName="EmberFlexberryDummyApplicationUserList"
  }}
</div>
