<h3 class="ui header">{{t "forms.login.caption"}}</h3>

{{#if errorMessages}}
  {{ui-message
    type='error'
    closeable=true
    visible=true
    title='Error occurred'
    message=errorMessages
  }}
{{/if}}

<form class="ui form flexberry-vertical-form" role="form">

  <div class="field">
    {{flexberry-field
      placeholder=(t 'components.flexberry-field.placeholder')
      required=true
      value=login
      class=(if emptyLogin 'error' '')
      label=(t 'forms.login.login')
    }}
    {{flexberry-validationmessage error=emptyLogin pointing="pointing"}}
  </div>

  <div class="field">
    {{flexberry-field
      placeholder=(t 'components.flexberry-field.placeholder')
      required=true
      value=password
      class=(if emptyPassword 'error' '')
      label=(t 'forms.login.password')
    }}
    {{flexberry-validationmessage error=emptyPassword pointing="pointing"}}
  </div>

  <div class="field">
    <div class="flexberry-edit-panel">
      <button type="submit" class="ui positive button" {{action 'login'}}>
        {{t "forms.login.caption"}}
      </button>
      <button type="submit" class="ui button" {{action 'close'}}>
        {{t "forms.login.back"}}
      </button>
    </div>
  </div>
</form>
