<h3 class="ui header">{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.permition-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.permition
      relationName="permition"
      projection="Sec_PermitionL"
      title=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.permition-caption")
      readonly=readonly
      componentName="permitionLookup"
      class=(if (v-get validationObject "permition" "isInvalid") "error")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e-permition=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "permition" "message")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.permition.agent.name
      class=(if (v-get validationObject.permition.agent "name" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.permition.agent.name-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e-permition-agent-name=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject.permition.agent "name" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.permition.subject.name
      class=(if (v-get validationObject.permition.subject "name" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.permition.subject.name-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e-permition-subject-name=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject.permition.subject "name" "message")}}
  </div>
  <div class="field" data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e-typeAccess="true">
    <label>{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.typeAccess-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-c-s-soft-s-t-o-r-m-n-e-t-security-t-type-access")
      value=model.typeAccess
      class=(if (v-get validationObject "typeAccess" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "typeAccess" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.filter-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.filter
      class=(if (v-get validationObject "filter" "isInvalid") "error")
      displayAttributeName="name"
      autocomplete=true
      relationName="filter"
      projection=""
      title=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.filter-caption")
      readonly=readonly
      componentName="filterLookup"
      class=(if (v-get validationObject "filter" "isInvalid") "error")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e-filter=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "filter" "message")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.filter.name
      class=(if (v-get validationObject.filter "name" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.filter.name-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e-filter-name=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject.filter "name" "message")}}
  </div>
</form>