<h3 class="ui header">{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
  flexberry-field
  placeholder=(t 'components.flexberry-field.placeholder')
  readonly=readonly
  required=true
  value=model.objectPrimaryKey
  class=(if model.errors.objectPrimaryKey 'error' '')
  label=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity-e.objectPrimaryKey-caption')
}}
</div>

<div class="field">
  {{
  flexberry-field
  placeholder=(t 'components.flexberry-field.placeholder')
  readonly=true
  required=true
  value=model.objectType.name
  class=(if model.errors.objectType.name 'error' '')
  label='(Тип объекта)'
}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity-e.operationTime-caption'}}</label>
  {{flexberry-simpledatetime
    hasTimePicker=true
    placeholder='(no value)'
    readonly=readonly
    value=model.operationTime
    class=(if model.errors.operationTime 'error' '')
  }}
</div>

<div class="field">
  {{
  flexberry-field
  placeholder=(t 'components.flexberry-field.placeholder')
  readonly=readonly
  required=true
  value=model.operationType
  class=(if model.errors.operationType 'error' '')
  label=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity-e.operationType-caption')
}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity-e.executionResult-caption'}}</label>
  {{flexberry-dropdown items=(flexberry-enum 'i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-t-execution-variant') value=model.executionResult readonly=readonly}}
</div>

<div class="field">
  {{
  flexberry-field
  placeholder=(t 'components.flexberry-field.placeholder')
  readonly=readonly
  required=true
  value=model.source
  class=(if model.errors.source 'error' '')
  label=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity-e.source-caption')
}}
</div>

<div class="field">
  {{
  flexberry-field
  placeholder=(t 'components.flexberry-field.placeholder')
  readonly=true
  required=true
  value=model.user.name
  class=(if model.errors.user.name 'error' '')
  label='(Имя)'
}}
</div>

<div class="field">
  {{
  flexberry-field
  placeholder=(t 'components.flexberry-field.placeholder')
  readonly=true
  required=true
  value=model.user.login
  class=(if model.errors.user.login 'error' '')
  label='(Логин)'
}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity-e.createTime-caption'}}</label>
  {{flexberry-simpledatetime
    placeholder='(no value)'
    readonly=readonly
    value=model.createTime
    class=(if model.errors.createTime 'error' '')
  }}
</div>

<div class="field">
  {{
  flexberry-field
  placeholder=(t 'components.flexberry-field.placeholder')
  readonly=readonly
  required=true
  value=model.creator
  class=(if model.errors.creator 'error' '')
  label=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity-e.creator-caption')
}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity-e.editTime-caption'}}</label>
  {{flexberry-simpledatetime
    placeholder='(no value)'
    readonly=readonly
    value=model.editTime
    class=(if model.errors.editTime 'error' '')
  }}
</div>

<div class="field">
  {{
  flexberry-field
  placeholder=(t 'components.flexberry-field.placeholder')
  readonly=readonly
  required=true
  value=model.editor
  class=(if model.errors.editor 'error' '')
  label=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity-e.editor-caption')
}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity-e.auditFields-caption'}}</label>
  {{flexberry-groupedit
    componentName="auditFieldsGroupEdit"
    modelProjection=modelProjection.attributes.auditFields
    content=model.auditFields
    readonly=readonly
    orderable=false
    class=(if model.errors.auditFields 'error' '')
    showDeleteMenuItemInRow=false
    showEditMenuItemInRow=false
    showDeleteButtonInRow=false
    deleteButton=false
    createNewButton=false
    showCheckBoxInRow=false
  }}
</div>

</form>
