<h3 class="ui header">{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e.role-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.role
      relationName="role"
      displayAttributeName='name'
      projection="RoleOrGroupL"
      title=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e.role-caption")
      readonly=readonly
      componentName="roleLookup"
      class=(if (v-get validationObject "role" "isInvalid") "error")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e-role=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "role" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e.agent-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.agent
      displayAttributeName='name'
      relationName="agent"
      projection="RoleOrGroupL"
      title=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e.agent-caption")
      readonly=readonly
      componentName="agentLookup"
      class=(if (v-get validationObject "agent" "isInvalid") "error")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e-agent=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "agent" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e.startDate-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.startDate
      class=(if (v-get validationObject "startDate" "isInvalid") "error")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e-startDate=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "startDate" "message")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e.endDate-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.endDate
      class=(if (v-get validationObject "endDate" "isInvalid") "error")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e-endDate=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "endDate" "message")}}
  </div>

</form>