<h3 class="ui header">{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e.agent-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.agent
      class=(if (v-get validationObject "agent" "isInvalid") "error")
      displayAttributeName="name"
      autocomplete=true
      relationName="agent"
      projection="RoleOrGroupL"
      title=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e.agent-caption")
      readonly=readonly
      componentName="agentLookup"
      class=(if (v-get validationObject "agent" "isInvalid") "error")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e-agent=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "agent" "message")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e.subject-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.subject
      class=(if (v-get validationObject "subject" "isInvalid") "error")
      displayAttributeName="name"
      autocomplete=true
      relationName="subject"
      projection="Sec_SubjectE"
      title=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e.subject-caption")
      readonly=readonly
      componentName="subjectLookup"
      class=(if (v-get validationObject "subject" "isInvalid") "error")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e-subject=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "subject" "message")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e.access-caption"}}</label>
    {{flexberry-groupedit
      componentName="accessGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.access
      content=model.access
      readonly=readonly
      orderable=false
      class=(if (v-get validationObject "access" "isInvalid") "error")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e-access=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "access" "message")}}
  </div>
</form>