<h3 class="ui header">{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e.caption'}}</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
      type='error'
      closeable=true
      visible=true
      title='Error occurred'
      message=currentError
    }}
  {{/each}}
{{/if}}
<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e.role-caption'}}</label>
  {{
    flexberry-lookup
    componentName='LookupRoles'
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.role
	displayAttributeName='name'
    relationName='role'
    projection='RoleOrGroupL'
    title=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e.role-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.role pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e.agent-caption'}}</label>
  {{
    flexberry-lookup
    componentName='LookupAgents'
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.agent
	displayAttributeName='name'
    relationName='agent'
    projection='RoleOrGroupL'
    title=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e.agent-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.agent pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e.startDate-caption'}}</label>
  {{flexberry-simpledatetime
    placeholder='(no value)'
    readonly=readonly
    value=model.startDate
    class=(if model.errors.startDate 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.startDate pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-link-role-e.endDate-caption'}}</label>
  {{flexberry-simpledatetime
    placeholder='(no value)'
    readonly=readonly
    value=model.endDate
    class=(if model.errors.endDate 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.endDate pointing="pointing"}}
</div>

</form>
