<h3 class="ui header">{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-view-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationObject "name" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-view-e.name-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-view-e-name=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "name" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.comment
      class=(if (v-get validationObject "comment" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-view-e.comment-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-view-e-comment=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "comment" "message")}}
  </div>
</form>