<h3 class="ui header">{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationObject "model.name" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e.name-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e-name=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "model.name" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.login
      class=(if (v-get validationObject "model.login" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e.login-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e-login=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "model.login" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.email
      class=(if (v-get validationObject "model.email" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e.email-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e-email=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "model.email" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e.enabled-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.enabled
      class=(if (v-get validationObject "model.enabled" "isInvalid") "error")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e-enabled=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "model.enabled" "message")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=readonly
      required=true
      type='password'
      value=model.pwd
      class=(if (v-get validationObject "model.pwd" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e.pwd-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e-pwd=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "model.pwd" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.comment
      class=(if (v-get validationObject "model.comment" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e.comment-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e-comment=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "model.comment" "message")}}
  </div>
  <div class="field roles">
    {{#flexberry-toggler
      caption=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e.user-roles-caption')
      class='styled'
    }}
      {{
        security-assign
        readonly=readonly
        value=userRoles
      }}
    {{/flexberry-toggler}}
  </div>
  <div class="field groups">
    {{#flexberry-toggler
      caption=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e.user-groups-caption')
      class='styled'
    }}
      {{
        security-assign
        readonly=readonly
        value=userGroups
      }}
    {{/flexberry-toggler}}
  </div>
  <div class="field classes">
    {{#flexberry-toggler
      caption=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e.user-classes-caption')
      class='styled'
    }}
      {{
        security-assign
        readonly=readonly
        value=userClasses
      }}
    {{/flexberry-toggler}}
  </div>
  <div class="field operations">
    {{#flexberry-toggler
      caption=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-user-e.user-operations-caption')
      class='styled'
    }}
      {{
        security-assign
        readonly=readonly
        value=userOperations
      }}
    {{/flexberry-toggler}}
  </div>
</form>