<h3 class="ui header">{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationObject "name" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.name-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e-name=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "name" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.type
      class=(if (v-get validationObject "type" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.type-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e-type=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "type" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.sharedOper-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.sharedOper
      class=(if (v-get validationObject "sharedOper" "isInvalid") "error")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e-sharedOper=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "sharedOper" "message")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.createTime-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.createTime
      class=(if (v-get validationObject "createTime" "isInvalid") "error")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e-createTime=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "createTime" "message")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.creator
      class=(if (v-get validationObject "creator" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.creator-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e-creator=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "creator" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.editTime-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.editTime
      class=(if (v-get validationObject "editTime" "isInvalid") "error")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e-editTime=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "editTime" "message")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.editor
      class=(if (v-get validationObject "editor" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.editor-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e-editor=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "editor" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.comment
      class=(if (v-get validationObject "comment" "isInvalid") "error")
      label=(t "forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.comment-caption")
      data-test-i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e-comment=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "comment" "message")}}
  </div>
</form>