<h3 class="ui header">{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{ui-message
    type="success"
    closeable=true
    visible=showFormSuccessMessage
    caption=formSuccessMessageCaption
    message=formSuccessMessage
    onShow=(action "onSuccessMessageShow")
    onHide=(action "onSuccessMessageHide")
  }}
  {{ui-message
    type="error"
    closeable=true
    visible=showFormErrorMessage
    caption=formErrorMessageCaption
    message=formErrorMessage
    onShow=(action "onErrorMessageShow")
    onHide=(action "onErrorMessageHide")
  }}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.name
    class=(if model.errors.name 'error' '')
    label=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.name-caption')
  }}
  {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.type
    class=(if model.errors.type 'error' '')
    label=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.type-caption')
  }}
  {{flexberry-validationmessage error=model.errors.type pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.sharedOper-caption'}}</label>
  {{
    flexberry-checkbox
    readonly=readonly
    value=model.sharedOper
  }}
  {{flexberry-validationmessage error=model.errors.sharedOper pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.createTime-caption'}}</label>
  {{
    flexberry-datepicker
    placeholder='(no value)'
    readonly=readonly
    value=model.createTime
    class=(if model.errors.createTime 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.createTime pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.creator
    class=(if model.errors.creator 'error' '')
    label=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.creator-caption')
  }}
  {{flexberry-validationmessage error=model.errors.creator pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.editTime-caption'}}</label>
  {{
    flexberry-datepicker
    placeholder='(no value)'
    readonly=readonly
    value=model.editTime
    class=(if model.errors.editTime 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.editTime pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.editor
    class=(if model.errors.editor 'error' '')
    label=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-operation-e.editor-caption')
  }}
  {{flexberry-validationmessage error=model.errors.editor pointing="pointing"}}
</div>

</form>
