<h3 class="ui header">{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.caption'}}</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
      type='error'
      closeable=true
      visible=true
      title='Error occurred'
      message=currentError
    }}
  {{/each}}
{{/if}}
<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.permition-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.permition

    relationName='permition'
    projection='Sec_PermitionL'
    title=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.permition-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.permition pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=true
    required=true
    value=model.permition.agent.name
    class=(if model.errors.permition.agent.name 'error' '')
    label=(Агент)
  }}
  {{flexberry-validationmessage error=model.errors.permition.agent.name pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=true
    required=true
    value=model.permition.subject.name
    class=(if model.errors.permition.subject.name 'error' '')
    label=(Субъект)
  }}
  {{flexberry-validationmessage error=model.errors.permition.subject.name pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.typeAccess-caption'}}</label>
  {{
    flexberry-dropdown
    items=(flexberry-enum 'i-c-s-soft-s-t-o-r-m-n-e-t-security-t-type-access')
    value=model.typeAccess
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.typeAccess pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.filter-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.filter
    displayAttributeName='name'
    relationName='filter'
    projection=''
    title=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-access-e.filter-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.filter pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=true
    required=true
    value=model.filter.name
    class=(if model.errors.filter.name 'error' '')
    label=(Имя фильтра)
  }}
  {{flexberry-validationmessage error=model.errors.filter.name pointing="pointing"}}
</div>

</form>
