<h3 class="ui header">{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-role-e.caption'}}</h3>
<form class="ui {{state}} form flexberry-vertical-form" role="form">
  {{ui-message
    type="success"
    closeable=true
    visible=showFormSuccessMessage
    caption=formSuccessMessageCaption
    message=formSuccessMessage
    onShow=(action "onSuccessMessageShow")
    onHide=(action "onSuccessMessageHide")
  }}
  {{ui-message
    type="error"
    closeable=true
    visible=showFormErrorMessage
    caption=formErrorMessageCaption
    message=formErrorMessage
    onShow=(action "onErrorMessageShow")
    onHide=(action "onErrorMessageHide")
  }}
    <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.name
    class=(if model.errors.name 'error' '')
    label=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-role-e.name-caption')
  }}
  {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-role-e.enabled-caption'}}</label>
  {{
    flexberry-checkbox
    readonly=readonly
    value=model.enabled
  }}
  {{flexberry-validationmessage error=model.errors.enabled pointing="pointing"}}
</div>

  <div class="field roles">
    {{#flexberry-toggler
      caption=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-role-e.role-roles-caption')
      class='styled'
    }}
      {{
        security-assign
        readonly=readonly
        value=roleRoles
      }}
    {{/flexberry-toggler}}
  </div>

  <div class="field users">
    {{#flexberry-toggler
      caption=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-role-e.role-users-caption')
      class='styled'
    }}
      {{
        security-assign
        readonly=readonly
        value=roleUsers
      }}
    {{/flexberry-toggler}}
  </div>

  <div class="field classes">
    {{#flexberry-toggler
      caption=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-role-e.role-classes-caption')
      class='styled'
    }}
      {{
        security-assign
        readonly=readonly
        value=roleClasses
      }}
    {{/flexberry-toggler}}
  </div>

  <div class="field operations">
    {{#flexberry-toggler
      caption=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-role-e.role-operations-caption')
      class='styled'
    }}
      {{
        security-assign
        readonly=readonly
        value=roleOperations
      }}
    {{/flexberry-toggler}}
  </div>
  </form>
