<h3 class="ui header">{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e.caption'}}</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
      type='error'
      closeable=true
      visible=true
      title='Error occurred'
      message=currentError
    }}
  {{/each}}
{{/if}}
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e.agent-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.agent
    displayAttributeName='name'
    relationName='agent'
    projection='RoleOrGroupL'
    title=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e.agent-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.agent pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e.subject-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.subject
    displayAttributeName='name'
    relationName='subject'
    projection='Sec_SubjectE'
    title=(t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e.subject-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.subject pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-c-s-soft-s-t-o-r-m-n-e-t-security-permition-e.access-caption'}}</label>
  {{
    flexberry-groupedit
    componentName="accessGroupEdit"
    modelProjection=modelProjection.attributes.access
    content=model.access
    readonly=readonly
    orderable=false
    class=(if model.errors.access 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.access pointing="pointing"}}
</div>

</form>
