<h3 class="ui header">{{t 'forms.new-platform-flexberry-audit-big-data-audit-record-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    <div class="flexberry-edit-panel">
      <button type="button" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.objectPrimaryKey
    class=(if model.errors.objectPrimaryKey 'error' '')
    label=(t 'forms.new-platform-flexberry-audit-big-data-audit-record-e.objectPrimaryKey-caption')
    data-test-new-platform-flexberry-audit-big-data-audit-record-e-objectPrimaryKey=true
  }}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.objectType
    class=(if model.errors.objectType 'error' '')
    label=(t 'forms.new-platform-flexberry-audit-big-data-audit-record-e.objectType-caption')
    data-test-new-platform-flexberry-audit-big-data-audit-record-e-objectType=true
  }}
</div>

<div class="field">
  <label>{{t 'forms.new-platform-flexberry-audit-big-data-audit-record-e.operationTime-caption'}}</label>
  {{
    flexberry-simpledatetime
    placeholder=(t 'components.flexberry-datepicker.placeholder')
    readonly=readonly
    value=model.operationTime
    class=(if model.errors.operationTime 'error' '')
    data-test-new-platform-flexberry-audit-big-data-audit-record-e-operationTime=true
  }}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.operationType
    class=(if model.errors.operationType 'error' '')
    label=(t 'forms.new-platform-flexberry-audit-big-data-audit-record-e.operationType-caption')
    data-test-new-platform-flexberry-audit-big-data-audit-record-e-operationType=true
  }}
</div>

<div class="field" data-test-new-platform-flexberry-audit-big-data-audit-record-e-executionStatus="true">
  <label>{{t 'forms.new-platform-flexberry-audit-big-data-audit-record-e.executionStatus-caption'}}</label>
  {{
    flexberry-dropdown
    items=(flexberry-enum 'new-platform-flexberry-audit-big-data-execution-status')
    value=recordStatus
    readonly=readonly
  }}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.source
    class=(if model.errors.source 'error' '')
    label=(t 'forms.new-platform-flexberry-audit-big-data-audit-record-e.source-caption')
    data-test-new-platform-flexberry-audit-big-data-audit-record-e-source=true
  }}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.userName
    class=(if model.errors.userName 'error' '')
    label=(t 'forms.new-platform-flexberry-audit-big-data-audit-record-e.userName-caption')
    data-test-new-platform-flexberry-audit-big-data-audit-record-e-userName=true
  }}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.userLogin
    class=(if model.errors.userLogin 'error' '')
    label=(t 'forms.new-platform-flexberry-audit-big-data-audit-record-e.userLogin-caption')
    data-test-new-platform-flexberry-audit-big-data-audit-record-e-userLogin=true
  }}
</div>

<div class="field">
  <label>{{t 'forms.new-platform-flexberry-audit-big-data-audit-record-e.serializedFields-caption'}}</label>
  {{
    audit-fields-view
    nameColumnCaption=(t 'forms.new-platform-flexberry-audit-big-data-audit-record-e.serializedFields-name-column-caption')
    oldValueColumnCaption=(t 'forms.new-platform-flexberry-audit-big-data-audit-record-e.serializedFields-old-value-column-caption')
    newValueColumnCaption=(t 'forms.new-platform-flexberry-audit-big-data-audit-record-e.serializedFields-new-value-column-caption')
    auditFields=deserializedAuditFields
  }}
</div>

</form>